// --- func
//  Convert px value to rem.
// > px: length in px
// > base: 1rem length in px (default
//         font size)
// < rem value
// ------------------------------------
rem(px, base = 16)
  return (1 / base * px)rem


// --- mixin
//  Render blocks for sys and manual styles
// > style: light|dark
theme_style(style)
  if style == dark
    @media (prefers-color-scheme: dark), (prefers-color-scheme: no-preference)
      &[data-color-scheme="sys"]
        {block}
    &[data-color-scheme="dark"]
      {block}
  if style == light
    @media (prefers-color-scheme: light)
      &[data-color-scheme="sys"]
        {block}
    &[data-color-scheme="light"]
      {block}


// --- mixin
//  Thin native scrollbar
// > thumb: thumb color
// > track: track color
thin_scrollbar(thumb, track = #0000)
  scrollbar-width: thin
  @supports unquote('selector(::-webkit-scrollbar)')
    scrollbar-width: auto
    scrollbar-color: auto
    &::-webkit-scrollbar
      width: 7px
      height: 7px
    &::-webkit-scrollbar-track
      background-color: track
    &::-webkit-scrollbar-thumb
      background-color: thumb
      border-radius: 4px
      background-clip: padding-box
      border: 1px solid #0000
    &::-webkit-scrollbar-thumb:hover
      background-color: thumb
      filter: contrast(200%)
